<a class="unit-control" nz-dropdown [nzDropdownMenu]="menu">
	{{unit}}
	<i nz-icon nzType="down"></i>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
	<ul nz-menu nzSelectable>
		<li
			nz-menu-item
			*ngFor="let u of units | keyvalue"
			[nzSelected]="u.value === unit"
			(click)="updateUnit(u.value)"
		>
			{{u.value}}
		</li>
	</ul>
</nz-dropdown-menu>
