<nz-select
	nzShowSearch
	nzServerSearch
	nzPlaceHolder="Enter the name of the city..."
	[ngModel]="null"
	(ngModelChange)="selectCity.next($event.id)"
	[nzShowArrow]="false"
	[nzNotFoundContent]="notFound"
	(nzOnSearch)="search$.next($event)"
>
	<ng-template #notFound>
		<span *ngIf="search$.value.length === 0">Just type something...</span>
		<span *ngIf="search$.value.length > 0">Nothing found :(</span>
	</ng-template>

	<ng-container *ngIf="items$ | async as iState">


		<ng-container *ngIf="iState.state === 'result'">
			<ng-container *ngIf="iState.data as items">
				<nz-option *ngFor="let item of items" [nzValue]="item" [nzCustomContent]="true">
					<i class="country-icon" nz-icon [flag-icon]="item.sys.country"></i>
					<span>[{{item.sys.country}}]</span>
					<span> - </span>
					<span class="name">{{item.name}}</span>
				</nz-option>
			</ng-container>
		</ng-container>
	</ng-container>
</nz-select>
