<div class="wrapper" *ngIf="weather$ | async as ws">
	<div class="content">
		<nz-spin *ngIf="ws.state === 'pending'" nzSimple></nz-spin>

		<nz-alert *ngIf="ws.state === 'error'" nzType="error" [nzMessage]="error" nzShowIcon>
			<ng-template #error>
				<div class="error-container">
					<p class="error-message">{{ws.error.message}}</p>
					<button nz-button nzType="primary" nzShape="circle" (click)="reloadWeather$.next()">
						<i nz-icon nzType="redo" nzTheme="outline"></i>
					</button>
				</div>
			</ng-template>
		</nz-alert>

		<ng-container *ngIf="ws.state ==='result' && ws.data as weather">
			<div class="weather" (click)="toggleForecast()">
				<div class="city">
					<i nz-icon [flag-icon]="weather.sys.country" [nz-tooltip]="weather.sys.country"></i>
					<span class="name">{{weather.name}}</span>
				</div>

				<div class="temperature-wrapper">
					<span class="feels-like" nz-tooltip="Feels like">{{weather.main.feels_like | tempUnit: unit}}</span>
					<span class="temperature" nz-tooltip="Temperature">{{weather.main.temp | tempUnit: unit}}</span>
				</div>

				<ng-container *ngIf="weather.weather[0] as currentWeather">
					<weather-icon
						[icon]="currentWeather.icon"
						[alt]="currentWeather.description"
						[size]="64"
						[animated]="true"
						[nz-tooltip]="currentWeather.description"
					></weather-icon>
				</ng-container>

				<div class="wind-speed" nz-tooltip="Wind speed">
					<i nz-icon>
						<svg>
							<image href="assets/icons/wind.svg"></image>
						</svg>
					</i>
					<span>{{weather.wind.speed | speedUnit: unit}}</span>
				</div>
			</div>

			<div class="forecast" *ngIf="opened" @inOutAnimation>
				<!-- Subscribe to forecast data only when panel was expanded -->
				<ng-container *ngIf="forecast$ | async as fs">
					<nz-spin nzSimple *ngIf="fs.state === 'pending'"></nz-spin>

					<nz-alert *ngIf="fs.state === 'error'" nzType="error" [nzMessage]="error" nzShowIcon>
						<ng-template #error>
							<div class="error-container">
								<p class="error-message">{{fs.error.message}}</p>
								<button nz-button nzType="primary" nzShape="circle" (click)="reloadForecast$.next()">
									<i nz-icon nzType="redo" nzTheme="outline"></i>
								</button>
							</div>
						</ng-template>
					</nz-alert>

					<forecast *ngIf="fs.state === 'result'" [forecast]="fs.data.list" [unit]="unit"></forecast>
				</ng-container>
			</div>
		</ng-container>
	</div>

	<div class="delete-button" (click)="remove.next()" *ngIf="ws.state !== 'pending'" nz-tooltip="Remove city"
		 nzTooltipPlacement="right">
		<i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#ff0000"></i>
	</div>
</div>
