:host {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-container {
	display: flex;
	align-items: center;

	button {
		margin-left: 8px;
	}
}

.wrapper {
	position: relative;
	width: 100%;

	&:hover {
		.weather {
			background-color: #f2faff;
		}

		.delete-button {
			right: -50px;
		}
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 80px;
		justify-content: center;
		align-items: center;
		background-color: white;
		z-index: 1;
	}

	.weather {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 8px 24px;
		cursor: pointer;

		.city {
			display: flex;
			align-items: center;
			width: 100%;
			font-size: 20px;
			font-weight: bold;
			white-space: nowrap;

			.name {
				margin: 0 16px;
			}
		}

		.temperature-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-left: 8px;
			white-space: nowrap;

			.feels-like {
				font-size: 12px;
				line-height: 12px;
				opacity: .4;
			}

			.temperature {
				font-size: 22px;
			}
		}

		.wind-speed {
			display: flex;
			flex-direction: column;
			opacity: .4;
			white-space: nowrap;

			i {
				margin-bottom: 4px;
			}

			image {
				width: 100%;
				height: 100%;
			}
		}
	}

	.forecast {
		display: block;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		height: 220px;

		nz-spin {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}

	.delete-button {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 50px;
		right: 0;
		top: 0;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		background-color: #ffd1d1;
		transition: .1s right ease-in-out;
		z-index: 0;
		font-size: 18px;
		cursor: pointer;

		&:hover {
			background-color: #ffb9b9;
		}
	}
}
