:host {
	display: block;
	width: 500px;
}

.widget-header {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	search-city {
		width: 100%;
	}

	unit-selector {
		margin-left: 8px;
	}
}

.widget-body {
	display: flex;
	flex-direction: column;

	city-weather {
		border: 1px solid #d5eaff;

		&:not(:last-child) {
			border-bottom: none;
		}
	}
}


