<div class="widget-header">
	<search-city (selectCity)="add($event)"></search-city>
	<unit-selector [(unit)]="unit"></unit-selector>
</div>

<div class="widget-body" @preventInitialChildAnimations>
	<city-weather
		*ngFor="let id of cityIds"
		[cityId]="id"
		[unit]="unit"
		[opened]="expandedCityId === id"
		(openedChange)="$event ? expandedCityId = id : null"
		(remove)="remove(id)"
		@inOutAnimation
	></city-weather>
</div>
