<div class="day" *ngFor="let item of forecastByDay | keyvalue">
	<div class="date">
		<span> {{item.key | date: 'MMM d'}} </span>
	</div>

	<div class="forecast">
		<div class="weather" *ngFor="let weather of item.value">
			<div class="time">{{toMillis(weather.dt) | date: 'HH:mm'}}</div>
			<div class="temperature-wrapper">
				<span class="temperature" nz-tooltip="Temperature">{{weather.main.temp | tempUnit: unit}}</span>
				<span class="feels-like" nz-tooltip="Feels like">{{weather.main.feels_like | tempUnit: unit}}</span>
			</div>

			<weather-icon
				*ngIf="weather.weather[0] as weatherRef"
				[icon]="weatherRef.icon"
				[size]="48"
				[nz-tooltip]="weatherRef.description"
			></weather-icon>

			<div class="wind" nz-tooltip="Wind Speed">{{weather.wind.speed | speedUnit: unit}}</div>
		</div>
	</div>
</div>
