:host {
	display: inline-flex;

	.day {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			border-right: 1px solid rgba(0, 0, 0, .1);
		}

		.date {
			padding: 8px;
			font-size: 10px;
			opacity: .6;

			span {
				position: sticky;
				left: 0;
				padding: 0 8px;
			}
		}

		.forecast {
			display: flex;

			.weather {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				min-width: 80px;
				text-align: center;
				padding-bottom: 16px;

				.time {
					width: 100%;
					background-color: #0000000f;
					opacity: .8;
				}

				.temperature-wrapper {
					display: flex;
					flex-direction: column;
					margin-top: 16px;

					.temperature {
						font-size: 18px;
						font-weight: bold;
					}

					.feels-like {
						opacity: .4;
						font-size: 12px;
					}
				}
			}
		}
	}


}
